.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartSection {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #dfdfdf;
    padding: 5px;
}

.btn {
    margin-top: 10px;
}

.total {
    padding: 0;
    margin: 10px;
    font-size: 20px;
}